In [22]:
#importing packages
import pandas as pd
from sqlalchemy import create_engine

In [23]:
#creating engine
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')

In [24]:
#printing table names
table_names = engine.table_names()
print(table_names)

In [25]:
#creating DataFrame for Q10
df_revenue = pd.read_sql_query("select name, \
                                sum(case when memid = 0 then slots * guestcost else slots * membercost end) as revenue \
                                from Bookings \
                                left join Facilities \
                                using(facid) \
                                group by name \
                                having revenue < 1000;", engine)

In [26]:
df_revenue.head()

In [13]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [14]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [9]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)

In [10]:
if __name__ == '__main__':
    main()